# Правильное имя <правильная почта> Старое имя <старая почта>
# Склейка всех вариантов написания автора в одно — VladMallory
VladMallory <vladmallory0321@gmail.com> Коваленко Владислав Анатольевич <vladmallory0321@gmail.com>
VladMallory <vladmallory0321@gmail.com> Владислав Коваленко Анатольевич <vladmallory0321@gmail.com>
VladMallory <vladmallory0321@gmail.com> Владислав Коваенко Анатольевич <vladmallory0321@gmail.com>
VladMallory <vladmallory0321@gmail.com> VladMallory <51831043+VladMallory@users.noreply.github.com>
VladMallory <vladmallory0321@gmail.com> Vlad <vlad@Mac-mini-Vlad.local>
